.sidebar {
   border-radius: 20%;
   margin: 3px;
   -webkit-border-radius: 20%;
   -moz-border-radius: 20%;
   -ms-border-radius: 20%;
   -o-border-radius: 20%;
}

button{
   color:white !important;
}

.navbarMain{
   color:white!important;
 }

.sidebar:hover {
   border: 1px solid #3002ff;
}
.navbar{
   background-color: rgb(0, 0, 0)!important;
}


.hamburger-menu-desktop{
   color:white;
   font-size: 30px;
}
.hamburger-menu{
   color: blue;
   font-size: 1.5rem;
}